.header-container {
  padding-top: 56px;
  padding-bottom: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-mode-toggle {
  display: flex;
  align-items: center;
  gap: 20px;

  svg {
    stroke: var(--primary);
  }

  .separator {
    width: 1px;
    height: 20px;
    background-color: var(--border);
  }
}
